<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.test.alpha_App">

<!--    check feature device by declarative -->
<!--    <uses-feature android:name="android.hardware.fingerprint" android:required="true"/>-->

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_thermo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_thermo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TemperatureConversion_Alpha"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7974000105622544~7031445343"/>

        <activity
            android:name="com.test.alpha_App.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.test.alpha_App.HomeActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.test.alpha_App.CalculatorActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.test.alpha_App.TemperatureActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.test.alpha_App.ScaleActivity"
            android:exported="true">
        </activity>

        <activity
            android:name="com.test.alpha_App.AboutActivity"
            android:exported="true">
        </activity>

    </application>

</manifest>